div.tooltip {	
    position: absolute;			
    text-align: center;
    align-content: center;
    padding: 5px;				
    font: 12px sans-serif;		
    margin-right: 10%;
    margin-left: 10%;
    border: solid;
    border-width: 1px;
    border-radius: 4px;		
    pointer-events: none;			
}